/* 
    Document   : style
    Created on : 27.01.2013, 1:15:36
    Author     : Сергей
    Description:
        Purpose of the stylesheet follows.
*/
table.no_style td
{
    padding: 0 0 0 0;
    border: none;
}

table.no_style td:hover
{
    padding: 0 0 0 0 !important;
    border: none !important;
}

.metrouicss .ui-datepicker td{
    padding:1px;
    border:1px solid transparent;
}

.OButton {width:100% !important; height:100% !important;}

.metro .message-dialog {
  position: fixed;
  left: 0;
  right: 0;
  height: auto;
  min-height: 100px;
  top: 30%;
  padding: 10px 10px 0;
}
.metro .error-bar,
.metro .warning-bar,
.metro .info-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  color: #fff;
  min-height: 100px;
}
.metro .error-bar {
  background-color: #b91d47 !important;
}
.metro .warning-bar {
  background-color: #ffc40d !important;
}

.metro .window 
{
    width:100%;
    height:100%;
}

.metro button {padding:4px;}

button,
input,
select,
textarea {
  font-size: 14px;
}

body {
  font-size:14px;
  background-image:URL(../Images/bg_b_r.png);
  background-position:right bottom;
  background-repeat:no-repeat;
  background-color:none;
}