
/* common */

.OForm
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.Form_ModalOuter
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}


/* OTree */
.OTree {border: 0px solid red; padding: 0px; padding-top: 3px; top: 0px; left: 0px; bottom: 0px; right: 0px; position: absolute;}
.OTree div {white-space:nowrap; padding: 1px; margin-left: 8px; border: 0px dotted #000; border-left: 0px dotted #000;}
.OTree div img {cursor: pointer; vertical-align: middle;}
.OTree ul {list-style-type: none;}
.OTree ul input {vertical-align: baseline;}
.OTree div p {display: inline; padding: 3px; cursor: pointer; margin: 0px; position: relative;}
.OTree div p:hover  {padding: 2px; border: 1px solid #92a1b7; background-image: url(../Images/button_bg_hover.jpg); background-color: #eee;}
.OTree div.child {border: 0px dotted #000; border-bottom: 0px dotted #000; border-top: 0px dotted #000; cursor: default; padding: 0px;}
.OTree div.child:hover {background-image: none;}
.OTree .expander-icon
{
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: baseline;
}
.OTree .expander-icon.expanded
{
	background-image: url('../Images/icons/toggle_small_collapse.png');
	cursor: pointer;
	background-position: -1px 0;
}
.OTree .expander-icon.collapsed
{
	background-image: url('../Images/icons/toggle_small.png');
	cursor: pointer;
	background-position: -1px 0;

}