.datalist_item {border: 1px solid #9e948a; padding: 0px; margin-bottom: 5px; background-color: #eee9e0; cursor: arrow;}
.datalist_item thead td {border: 2px solid #9e948a; background-color: #fff;}
.datalist_item:hover {border: 1px solid #92a1b7; background-color: #f1ebe2;}
.datalist_item_title {border: 1px solid #fff; padding: 3px; margin: 0px; background-color: #a2b1c7; font-size: 10px; color: #fff; background-image: url(../Images/big_title_3.jpg);}
.datalist_item_title span {border: 0px solid #fff; padding: 3px; font-size: 10px; font-weight: bold;}
.datalist_item div.OButton {position: static; width: 100px; display: inline-block;}
.datalist_item div.OButton p {position: relative; text-align: center;}

table.item_list {border-collapse:collapse;}
table.item_list tr {border: 1px solid #9e948a; background-color: #fff; }
table.item_list tr:hover {border: 1px solid #9e948a; background-color: #e8e2d9;}
table.item_list td {border: 1px solid #9e948a; padding: 3px;}
table.item_list td.button {padding: 0px; width: 52px;}
table.item_list td.button div {border: 1px solid #fff; width: 24px; height: 21px; padding-top: 3px; background-color: #eee; cursor: pointer; float: left;}
table.item_list td.button div:hover {background-color: #c2d1e7; border: 1px solid #fff;}
table.item_list thead td {border: 1px solid #9e948a; background-color: #d8d2c9; height: 15px; font-weight: bold; font-size: 12px; padding: 0;}
table.item_list thead td div {border: 1px solid #fff; padding: 3px;}

div.gdlv_button {border: 1px solid #fff; padding: 0px; cursor: pointer; width: 20px; height: 17px; padding-top: 3px; display: inline-block;}
div.gdlv_button:hover {background-color: #c2d1e7; border: 1px solid #fff;}

div.button_pager {border: 1px solid #fff; background-color: #eee; cursor: pointer; padding: 3px; }
div.button_pager:hover {background-color: #c2d1e7; border: 1px solid #fff;  background-image: url(../Images/button_bg_hover.jpg);}
div.button_pager_active {border: 1px solid #9e948a; cursor: pointer; padding: 3px; background-image: url(../Images/button_bg.jpg);}

div.Opacity50 {position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: #fff; opacity: 0.1; filter: alpha(opacity=10); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10); -moz-opacity: 0.1; -khtml-opacity: 0.1;}

/* OProjectItem */
.OProjectItem {position: absolute; top: 0px; left: 0px;  border: 1px solid #cec4ba; }
.OProjectItem:hover {border: 1px solid #92a1b7;}
.OProjectItem span {cursor: pointer; background-color: #e8e2d9; padding: 3px; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #fff; color: #000;}
.OProjectItem span:hover {background-color: #cad7ea; border: 1px solid #fff;}

.OProjectItemSelected {position: absolute; top: 0px; left: 0px;  border: 1px solid #ccb; }
.OProjectItemSelected:hover {border: 1px solid #92a1b7;}
.OProjectItemSelected span {cursor: pointer; background-color: #eed; padding: 3px; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #fff; color: #000;}
.OProjectItemSelected span:hover {background-color: #cad7ea; border: 1px solid #fff;}

.nav_btn {cursor: pointer; padding: 3px; margin: 1px;}
.nav_btn:hover {border: 1px solid #92a1b7; background-color: #d8d2c9;background-image: url(../Images/button_bg_hover.jpg);}
.nav_btn_active {cursor: pointer; padding: 3px; margin: 1px; border: 1px solid #e8e2d9; background-image: url(../Images/title.jpg); background-color: #92a1b7; color: #fff;}

/* OToolTip */
.OToolTip {position:absolute; background-color:white; border:solid 1px black; padding:5px; display:none}
/************/

/* fade */
.m_fade {position: fixed; top:0px; left: 0px; right:0px; bottom:0px; background-color: white; opacity: .8}
.m_fade img {position: absolute; top:50%; left:50%; margin-left:-32px; margin-top:-32px}
/********/


tr.bordered_row td{border-top:1px solid black; border-bottom:1px solid black}
tr.bordered_row td:first-child{border-left:1px solid black;}
tr.bordered_row td:last-child{border-right:1px solid black;}

.OuterInnerBorder{overflow:auto}


div.el_finder, div.el_finder * {box-sizing:content-box !important;}

.menu i, .page-sidebar i {text-transform: none; text-decoration: none; font-style: normal}

.panel {
    width: 100%;
    height:230px;
    background: #1D1D1D;
    border: none;
    z-index:99999;
    padding:40px
}

.handle
{
    width:16px;
    height:32px;
    bottom:-32px !important;
}

.panel.open .handle
{
    background-position: -44px -11px !important;
}