<div name="{Name}" id="{Name}" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #9e948a;">
    <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #ffffff; padding: 3px; {Style}">
        {Items}
        <!--item_start-->
        <div class="OuterBorder" style="margin: 3px; position: relative; float: left; width: 150px; height: 90px; background-color: #eed; text-align: center;" onmouseout='$("#{Name}_Opacity50_{INDEX}").show();'  onmouseover='$("#{Name}_Opacity50_{INDEX}").hide();'>
            <div class="InnerBorder" style="padding: 5px; overflow: hidden; text-align: center;" >
                    <img src="{RECORD_IMAGE}" style="cursor: pointer;" onclick="ServerArgEvent('{ParentName}', 'on_edit_click', '{INDEX}');"><br>
                    <div style="cursor: pointer;height: 30px; border: 0px solid #f00;" onclick="ServerArgEvent('{ParentName}', 'on_edit_click', '{INDEX}');">{NAME}</div>
                    <div class="button" style="position: absolute; top: 3px; right: 28px;" onclick="ServerArgEvent('{ParentName}', 'on_edit_click', '{INDEX}');"><img src="Images/icons/pencil.png"></div>
                    <div class="button" style="position: absolute; top: 3px; right: 3px;" onclick="ServerArgEvent('{ParentName}', 'on_delete_click', '{INDEX}');"><img src="Images/icons/cross.png"></div>
                <div class="Opacity50" id="{Name}_Opacity50_{INDEX}">
                </div>
            </div>
        </div>
        <!--item_end-->
    </div>
</div>