<div class="OuterInnerBorder" id="{Name}" name="{Name}" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
    <div class="InnerBorder" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; {Style}">
        <table style="width: 100%" class="table striped hovered">
            <tr>
                <td class="OHeader" style="width: 10px; text-align:right;"><input type="checkbox" name="checkall" /></td>
                <!--ColHeader-->
                <td align="left" class="OHeader" style="">
            <nobr><span>{HEADER}</span>
                <!--SortedNone-->
                <a href="javascript:ServerArgEvent('{Name}', 'onsortup', 'c:{SORTBY}')">
                    <img border="0"  src="Images/components/OSPRepeater/sort_up.gif" width="7"></a>
                <a href="javascript:ServerArgEvent('{Name}', 'onsortdown', 'c:{SORTBY}')">
                    <img alt="" border="0"  src="Images/components/OSPRepeater/sort_down.gif" width="7"></a>
                <!--/SortedNone-->
                <!--SortedUp-->
                <img border="0" height="7" src="Images/222222_7x7_arrow_up.gif" width="7">
                <a href="javascript:ServerArgEvent('{Name}', 'onsortdown', 'c:{SORTBY}')">
                    <img alt="" border="0" height="7" src="Images/888888_7x7_arrow_down.gif" width="7"></a>
                <!--/SortedUp-->
                <!--SortedDown-->
                <a href="javascript:ServerArgEvent('{Name}', 'onsortup', 'c:{SORTBY}')">
                    <img border="0" height="7" src="Images/888888_7x7_arrow_up.gif" width="7"></a>
                <img alt="" border="0" height="7" src="Images/222222_7x7_arrow_down.gif" width="7">
                <!--/SortedDown-->
                {SORTING}
            </nobr></td>
            <!--/ColHeader-->
            </tr>
            <tbody id="{Name}_content">
                {Items}
            </tbody>
            <!--item_start-->
            <tr index="{INDEX}" {row_style}>
                <td style="padding-left:15px">
                    <input type="checkbox" name="seleced_row[]" value="{INDEX}" />
                </td>
                <!--ValColumn--><td style="height: 30px; padding-left: 5px; padding-right: 5px;background-color:{row_color}">{VALUE}</td><!--/ValColumn-->
            </tr>
            <!--item_end-->
        </table>
        <!--Pages-->
        <div class="paginator" id="paginator_{Name}"></div>
        <script type="text/javascript">
            var paginator_{Name} = new Paginator(
            "paginator_{Name}", 
            {TOTAL_PAGES}, /* общее число страниц */
            10, /* число страниц, видимых одновременно*/
            {CURRENT_PAGE}, /* номер текущей страницы */
            "",
            "{Name}"
        );
        </script>
        <!--/Pages--></div>
</div>
<script>
    var checked_ones_{Name}=false;

    function SendAllSelectedRows(_id, _event_name)
    {
        var indexes=new Array();
        $("#"+_id+" input:checked").each(function(){
            indexes.push($(this).val());
        });
        ServerArgEvent(_id, _event_name, indexes);
    }

    $("#{Name}_content input[type=checkbox]").click(function(){
        if(!checked_ones_{Name})
        {
            ServerArgEvent("{Name}", 'on_row_click', $(this).val(), false);
        }
        checked_ones_{Name}=true;
    });

    $("#{Name}_content tr").each(function () {
        $(this).find(">td:not(:first)").click(function () {
            var is_selected = $(this).parent().find("input[type='checkbox']").prop('checked');
            if (!is_selected) {
                $(this).parent().parent().find("tr").removeClass("selected-row");
                $(this).parent().parent().find("input[type='checkbox']").prop("checked", false);
                $(this).parent().addClass("selected-row");
                $(this).parent().find("input[type='checkbox']").prop("checked", true);
                ServerArgEvent("{Name}", 'on_row_click', $(this).parent().attr("index"), false);
            }
            else
            {
                $(this).parent().addClass("selected-row");
            }
        });
    });
</script>