<nav class="sidebar" name="{Name}" id="{Name}">
    <ul>
        {Items}
        <!--item_start-->
        <li>
            <a href="javascript:void(0);" class="dropdown-toggle"><i class="{ItemClass}"></i>{TEXT}</a>
            {SubItems}
        </li>
        <!--item_end-->
    </ul>
</nav>
<!--subitem_start-->
<ul class="dropdown-menu" data-role="dropdown" data-effect="slide">
    {Items}
    <!--subitem_item_start-->
    <li class="keep-open"><a href="javascript:void(0);" onclick="ServerArgEvent('{ParentName}', '{EventName}', {INDEX});">{TEXT}</a></li>
    <!--subitem_item_end-->
</ul>
<!--subitem_end-->