<div name="{Name}" id="{Name}" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #9e948a;">
    <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #ffffff; padding: 3px; {Style}">
        <table class="hovered" style="width: 100%;">
            <thead>
                <tr>
                    <td style=""></td>
                    <td style="width: 40px;"><div>ID</div></td>
                    <td><div>Имя</div></td>
                </tr>
            </thead>
            {Items}
        </table>
        <!--item_start-->
        <tr class="datalist_item">
            <td class=button>
                <div onclick="ServerArgEvent('{ParentName}', 'on_edit_click', '{INDEX}');"><img src="project/Images/edit.gif"></div>
                <div onclick="ServerArgEvent('{ParentName}', 'on_delete_click', '{INDEX}');"><img src="project/Images/delete.gif"></div>
            </td>
            <td>{ID}</td>
            <td>{NAME}</td>
        </tr>
        <!--item_end-->
    </div>
</div>