<script src="JS/jquery/jquery.tabslideout.v1.2.js" type="text/javascript"></script>
<div class="panel">
    <a class="handle icon-arrow-down-2" href="http://orbsoft.ru"></a> <!-- Ссылка для пользователей с отключенным JavaScript -->
    <span lang="ru">
        {Items}
        <!--item_start-->
        <div class="tile {ItemClass}" onclick="ServerArgEvent('{ParentName}', 'on_edit_app_click', {INDEX});">
            <div class="tile-content">
                <img src="{LOGO_PATH}" height=120px" />
            </div>
            <div class="brand">
                <div class="name">{TEXT}</div>
            </div>
        </div>
        <!--item_end-->
        <a href="javascript:void(0);" onclick="ServerEvent({ParentName}, 'on_add_app_click', true);" class="icon-plus-2 big" style="font-size:60px; margin-top:45px;"></a>
    </span>
</div>

<script type="text/javascript">
    $(function(){
        $('.panel').tabSlideOut({						//Класс панели
            tabHandle: '.handle',						//Класс кнопки
            pathToTabImage: './Images/c5.png',				//Путь к изображению кнопки
            imageHeight: '20px',						//Высота кнопки
            imageWidth: '13px',                                                 //Ширина кнопки
            tabLocation: 'top',						//Расположение панели top - выдвигается сверху, right - выдвигается справа, bottom - выдвигается снизу, left - выдвигается слева
            speed: 300,								//Скорость анимации
            action: 'click',							//Метод показа click - выдвигается по клику на кнопку, hover - выдвигается при наведении курсора
            topPos: '0px',							//Отступ сверху
            leftPos:'0px',
            fixedPosition: false,						//Позиционирование блока false - position: absolute, true - position: fixed
            LeftHandle:'50%',
            bgPos:'-91px -33px'
        });
    });
</script>