<nav class="navigation-bar" id="{Name}">
    <nav class="navigation-bar-content">

        <item class="element"><a class="dropdown-toggle" href="#">{Title}</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="http://www.orbsoft.ru/" target="_blank">www.orbsoft.ru</a></li>
            </ul>
        </item>

        <item class="element-divider"></item>

        {Items}
        <!--item_start-->
            <a class="element {TopItemClass}" href="javascript:void(0);" onclick="ServerEventWithFormData('{ParentName}', '{EventName}', '{ParentName}', {INDEX});"><nobr><span class="{ItemClass}"></span>&nbsp;&nbsp;{TEXT}</nobr></a>
            {SubItems}
        <!--item_end-->
   </nav>
</nav>
<!--subitem_start-->
<ul class="dropdown-menu">
    {Items}
    <!--subitem_item_start-->
    <li class="keep-open"><a href="javascript:void(0)" onclick="ServerEventWithFormData('{ParentName}', '{EventName}', '{ParentName}', {INDEX});">
        {TEXT}</a></li>
    <!--subitem_item_end-->
</ul>
<!--subitem_end-->
