<Style>
    .OBlockRepeater { list-style-type: none; margin: 0; padding: 0; }
	.OBlockRepeater li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 130px; height: 130px; text-align: center; font-weight:bold; vertical-align:bottom; color:black}
</Style>

<div onclick="javascript:SaveOrder();" style="position: relative; height:25px; width:160px" class="OButton">
    <p style="text-align:center; vertical-align: top;">
        Сохранить порядок
    </p>
</div>
<ul id="{Name}" class="OBlockRepeater">
    {Items}
    <!--item_start-->
    <li style="background-image:URL(/content/flowers/_thumbs/{IMAGE}); background-position:center; position:relative" iid="{ID}">
        <div onclick="ServerArgEvent('{ParentName}', 'on_edit_click', '{INDEX}');" style="position:absolute; top:5px; right:25px; cursor:pointer;background-color:white"><img src="Images/icons/pencil.png"></div>
        <div onclick="ServerArgEvent('{ParentName}', 'on_delete_click', '{INDEX}');" style="position:absolute; top:5px; right:5px; cursor:pointer;background-color:white"><img src="Images/icons/cross.png"></div>
        <div style="position:absolute; bottom:0px; left:0px; right:0px; height:30px; background-color:white">{NAME}</div>
    </li>
    <!--item_end-->
</ul>

<script>
    $(function () {
        $("#{Name}").sortable();
        $("#{Name}").disableSelection();
    });

    function SaveOrder() {
        var order = new Array();
        $("#{Name} li").each(function (_index) {
            order.push(new Array(_index, $(this).attr("iid")));
        });
        ServerArgEvent('{Name}', 'onsaveorder', order);
    }
</script>