<div class="tile icon OBlockCheckBox {Class}" {Events}>
    <input type="hidden" name="{Name}" id="{Name}" value="{Checked}" />
    <div class="tile-content">
        <img src="{Icon}" />
    </div>
    <div class="brand">
        <div class="name">{Text}</div>
    </div>
</div>