<div class="input-control checkbox">
    <label>
        <input type="checkbox" name="{Name}" id="{Name}" {Disabled} {Checked} {Events} />
        <span class="check"></span>
        {Text}
    </label>
</div>