<textarea name="{Name}" id="{Name}" style="width:100%; height:100%; {Style}" {Disabled} {Events}>{Value}</textarea>
<script>
    if (CKEDITOR.instances.{Name} != null) {
        CKEDITOR.remove(CKEDITOR.instances.{Name});
    }
    CKEDITOR.replace('{Name}', {
        filebrowserBrowseUrl: 'js/elfinder/elfinder.html',
        allowedContent:true
    });
</script>