<div class="input-control text">
    <input type="text" id="{Name}" name="{Name}" value="{Value}" {Disabled} {Events} style="padding-right:0px" />
</div>

<script type='text/javascript'>if({WTime}){$('#{Name}').datetimepicker({ dateFormat: 'dd.mm.yy', timeOnlyTitle: 'Выберите время',
	timeText: 'Время',
	hourText: 'Часы',
	minuteText: 'Минуты',
	secondText: 'Секунды',
	currentText: 'Сегодня',
	closeText: 'Закрыть' });}else{$(document).ready(function() {$('#{Name}').datepicker({ dateFormat: 'dd.mm.yy', dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Субота'], dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'], firstDay: 1, monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'] });});}</script>