<div class="input-control {Type}">
        <input type="{Type}" id="{Name}" name="{Name}" value="{Value}" {Disabled} {Events} data-transform="input-control" />
        <button class="{Helper}"></button>
</div>
<script type="text/javascript">    $(document).ready(function () { if ('{Mask}' != '') $("#{Name}").mask('{Mask}'); });</script>
<script type="text/javascript">    $(document).ready(function () { if ('{KeyFilter}' != '') $("#{Name}").keyfilter($.fn.keyfilter.defaults.masks['{KeyFilter}']); });</script>
<script type="text/javascript">    $(function () { if (!!$.parseJSON("{AutoFocus}")) { $('#{Name}').focus(); } });</script>