<div id="{Name}" class="el_finder">
</div>
<script>
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i');
        var match = window.location.search.match(reParam);

        return (match && match.length > 1) ? match[1] : '';
    }
    $().ready(function () {
        var funcNum = getUrlParam('CKEditorFuncNum');

        var elf = $('#{Name}').elfinder({
            url: 'JS/elfinder/php/connector.php?Path=../../../../{Path}',
            lang: 'ru',
            getFileCallback: function (file) {

            },
            resizable: false,
            height: $("#{Name}").parent().height() - 20,
            width: $("#{Name}").parent().width() - 10
        }).elfinder('instance');
    });

    function SendFiles() {
        var files = new Array();
        var files_tmp = $('#{Name}').getElFinder().selectedFiles();

        var path = $(".elfinder-path a"); //.html()
        var path_str = "";
        for (var i = 0; i < path.length; i++) {
            path_str += path.eq(i).html() + "/";
        }

        for (var i = 0; i < files_tmp.length; i++) {
            files.push("/" + path_str + files_tmp[i].name);
        }
        ServerArgEvent("{Name}", "files_selected", files);
    }
</script>
