<div class="OuterBorder">
    <div class="InnerBorder" style="background-color: #f8f2e9;">
        <div class="OFileBox">
        <input name="{Name}" id="{Name}" type="hidden" value="{Value}" />
{Items}
<!--item_start--><div {ItemEvents} title="Размер файла: {FileSize} кб"><p id="{Name}_p_{INDEX}"><img src="{Icon}" alt="" /> {FileName}</p></div><!--item_end-->
<!--empty_start--><center><br />Нет элементов для отображения.</center><!--empty_end-->
        </div>
    </div>
</div>

<script type="text/javascript">
function {Name}_SetActive(_id)
{
    var StartIndex = "{Name}_p_".length;
    _index = _id.substring(StartIndex);

    $('#{Name}').attr("value", _index);
    pName = "#{Name}_p_" + _index;
    $("p[id ^= '{Name}_p_']").css("font-weight", "normal");
    $(pName).css("font-weight", "bold");
}

$(document).ready(function () {
$("p[id^={Name}_p_]").click(function () {{Name}_SetActive( $(this).attr("id") );});
{Name}_SetActive('{Name}_p_{Value}');
});
</script>
