<div class="OuterBorder">
    <div class="InnerBorder" style="background-color: #f8f2e9;">
        <div class="OFileBox" id="{Name}">

		<table style="width: 100%">
			<tr>
				<td align="left" class="OHeader" style="width:250px; background-image: url(../Images/button_bg.jpg);">
				    <nobr>
				        <span>Файл</span>
				        <a href="javascript:ServerArgEvent('{Name}', 'onsortup', 'FileName')"><img border="0" height="4" src="Images/components/OSPRepeater/sort_up.gif" width="7"></a>
				        <a href="javascript:ServerArgEvent('{Name}', 'onsortdown', 'FileName')"><img alt="" border="0" height="4" src="Images/components/OSPRepeater/sort_down.gif" width="7"></a>
				    </nobr>
				</td>
				<td align="left" class="OHeader" style="width:150px; background-image: url(../Images/button_bg.jpg);">
				    <nobr>
				        <span>Размер</span>
				        <a href="javascript:ServerArgEvent('{Name}', 'onsortup', 'FileSize')"><img border="0" height="4" src="Images/components/OSPRepeater/sort_up.gif" width="7"></a>
				        <a href="javascript:ServerArgEvent('{Name}', 'onsortdown', 'FileSize')"><img alt="" border="0" height="4" src="Images/components/OSPRepeater/sort_down.gif" width="7"></a>
				    </nobr>
				</td>
			</tr>
			{Items}
			<!--item_start-->
			<tr>
				<td class="ORepeaterCell" style="{Font_Style}{Style}" {ItemEvents}>{FileName}</td>
				<td class="ORepeaterCell" style="{Font_Style}{Style}" {ItemEvents}>{FileSize}k</td>
			</tr>
			<!--item_end-->
		</table>
        </div>
    </div>
</div>


