<div name="{Name}" id="{Name}" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #9e948a;">
    <div style="text-align: left; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #ffffff; padding: 0px; {Style};">
        {Items}
        <!--item_start-->
        <div class="OuterBorder" style="background-image: url({BGIMAGE}); min-width: 150px; padding:2px; padding-left: 3px; padding-right: 3px; margin: 1px; position: relative; float: left; height: 15px; background-color: {BGCOLOR}; color: {FONTCOLOR}; text-align: left;" onmouseout='$("#{Name}_Opacity50_{INDEX}").show();'  onmouseover='$("#{Name}_Opacity50_{INDEX}").hide();'>
                    <div style="position: absolute; top: 1px; left: 3px; right: 20px; bottom: 0px; cursor: pointer; overflow: hidden;" onclick="ServerArgEvent('{Name}', 'on_form_click', '{INDEX}');">
                        <img src="{IconSrc}" style="cursor: pointer; vertical-align: bottom;">
                        <span>{Title}</span>
                    </div>
                    <img src="Images/components/OForm/iconClose.gif" onclick="ServerArgEvent('{Name}', 'on_form_close_click', '{INDEX}');" style="cursor: pointer; border: none; padding: 3px; position: absolute; top: 2px; right: 2px; text-align: right; vertical-align: middle;">
                <div class="Opacity50" id="{Name}_Opacity50_{INDEX}">
                </div>
        </div>
        <!--item_end-->
    </div>
</div>