<div name="{Name}" id="{Name}" style="width:100%; height:100%;position:absolute;{Style}" {Disabled} {Events}>
<div class="{ComponentContainerOuterClass}"></div>
<div class="{Class}" name="{Name}_body" id="{Name}_body">
    <div class="OuterBorder">
        <div class="InnerBorder">
            <!--<div class="OFormTitle">
                <img src="{IconSrc}" style="border: none; vertical-align: middle;">
                {Title}
                <span style="position: absolute; top: 4px; right: 4px;">{CloseButton}</span>
            </div>-->
            <div class="OFormBody" style="{BodyTop}{Font_Style}" id="{Name}_component_holder">
                {_Components}{Child}
            </div>
        </div>
    </div>
</div>
</div>
<script>
    if({Draggable})
    {
        $("#{Name}").parent().draggable({handle: "#{Name} div.OFormTitle:first"});
        $("#{Name} div.OFormTitle:first").disableSelection();
    }
</script>