<script src="JS/knockout-2.2.1.js"></script>
<script src="JS/ViewModel/OGRepeaterEditableViewModel.js"></script>
<div class="OuterInnerBorder OGRepeaterEditable" id="{Name}" name="{Name}" style="position: absolute;top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #9e948a;">
    <div class="InnerBorder" style="position: absolute; top: 0px; left: 0px; bottom: 0px;right: 0px; border: 1px solid #ffffff; padding: 3px;{style}">
        <table style="width: 100%" data-bind="with:table">
            <thead>
                <tr>
                    <td class="OHeader" style="width: 10px;">
                        &nbsp;
                    </td>
                    <!-- ko foreach: col -->
                    <td align="left" class="OHeader" data-bind="text: name"></td>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody class="table_data">
                <!-- ko foreach: { data: row, as: 'row' } -->
                <!-- ko if: !row.isDeleted() -->
                <tr>
                    <td style="width: 10px; height: 30px; padding-left: 5px; padding-right: 5px;">
                        <table style="">
                            <tr>
                                <!-- ko if: $parent.getProp('Appendable') -->
                                <td><div class="gdlv_button" data-bind="click: $root.deleteRow"><img title="Удалить" src="Images/icons/cross.png"></div></td>
                                <!-- /ko -->
                                <!-- ko foreach: { data: $parent.buttons, as: 'button' } -->
                                <td><div class="gdlv_button" data-bind="click: $root.deleteRow"><img title="Удалить" src="Images/icons/cross.png"></div></td>
                                <!-- /ko -->
                            </tr>
                        </table>
                    </td>
                    <!-- ko foreach: { data: $parent.col, as: 'col' } -->
                    <!-- ko with: row.getValue(col.id) -->
                    <td style="height: 30px; padding-left: 5px; padding-right: 5px;" data-bind="OGRepeaterCell: col"></td>
                    <!-- /ko -->
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function() {
        ServerArgEvent('{Name}', 'get_table_data', null, true, function(_data) {
            var data = $.parseJSON(_data);
            console.log(_data);
            console.log(data);
            var OGRViewModel = new OGRepeaterEditableViewModel('{Name}', '{ParentName}', data['TableInfo'], data['TableData']);
            OGRViewModel.bindModel();
        });
    });

</script>
