<div class="OuterInnerBorder" id="{Name}" name="{Name}" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
    <div class="InnerBorder" style="position: absolute; top: 0px; left: 0px; bottom: 0px;
        right: 0px; padding: 3px; {style}">
        <table class="table striped">
            <tr>
                <td class="OHeader" style="width: 10px;">
                    &nbsp;
                </td>
                <!--ColHeader-->
                <td align="left" class="OHeader" style="">
                    <nobr><span>{HEADER}</span>
                <!--SortedNone-->
                <a href="javascript:ServerArgEvent('{Name}', 'onsortup', 'c:{SORTBY}')">
                    <img border="0"  src="Images/components/OSPRepeater/sort_up.gif" width="7"></a>
                <a href="javascript:ServerArgEvent('{Name}', 'onsortdown', 'c:{SORTBY}')">
                    <img alt="" border="0"  src="Images/components/OSPRepeater/sort_down.gif" width="7"></a>
                <!--/SortedNone-->
                <!--SortedUp-->
                <img border="0" height="7" src="Images/222222_7x7_arrow_up.gif" width="7">
                <a href="javascript:ServerArgEvent('{Name}', 'onsortdown', 'c:{SORTBY}')">
                    <img alt="" border="0" height="7" src="Images/888888_7x7_arrow_down.gif" width="7"></a>
                <!--/SortedUp-->
                <!--SortedDown-->
                <a href="javascript:ServerArgEvent('{Name}', 'onsortup', 'c:{SORTBY}')">
                    <img border="0" height="7" src="Images/888888_7x7_arrow_up.gif" width="7"></a>
                <img alt="" border="0" height="7" src="Images/222222_7x7_arrow_down.gif" width="7">
                <!--/SortedDown-->
                {SORTING}
            </nobr>
                </td>
                <!--/ColHeader-->
            </tr>
            {Items}
            <!--item_start-->
            <tr>
                <td style="">
                    <table class="no_style">
                        <tr>
                            <!--ActionButton-->
                            <td>
                                <div class="" onclick="ServerArgEvent('{Name}', '{EVENT}', '{INDEX}');" style="{{event}_display}">
                                    <img src="{ICON}" title="{TITLE}"></div>
                            </td>
                            <!--/ActionButton-->
                        </tr>
                    </table>
                </td>
                <!--ValColumn-->
                <td style="{row_color}">
                    {VALUE}
                </td>
                <!--/ValColumn-->
            </tr>
            <!--item_end-->
        </table>
        <!--Pages-->
        <div class="paginator" id="paginator_{Name}">
        </div>
        <script type="text/javascript">
            var paginator_{Name} = new Paginator(
            "paginator_{Name}", 
            {TOTAL_PAGES}, /* общее число страниц */
            10, /* число страниц, видимых одновременно*/
            {CURRENT_PAGE}, /* номер текущей страницы */
            "",
            "{Name}"
        );
        </script>
        <!--/Pages-->
    </div>
</div>
