<div class="{Class}" name="{Name}" id="{Name}" style="width:100%; height:100%;position:absolute;{Style}" {Disabled} {Events}>
    <div style="top: 7px;" class="OuterBorder">
        <div class="InnerBorder" id="{Name}_component_holder">
            {_Components}{Child}
        </div>
    </div>
    <div style="top: -5px; left: 10px; position: absolute; background: inherit;padding:0px 2px;" class="item-title-secondary">{Title}</div>
</div>