 <div class="input-control select">
<select name="{Name}" id="{Name}" size="{Size}" style="width:100%; {Style}" {Disabled} {Events}>{Items}</select>
<!--item_start--><option value="{Key}" {SELECTED}>{Value}</option><!--item_end-->
 </div>