<div name="{Name}" id="{Name}" class="OuterBorder">
    <div class="InnerBorder" style="background-color: #e8e2d9;">
        {Items}
        <!--category_item_start-->
        <div style="padding: 4px; top: 0px; left: 0px; right: 0px; border: 0px solid #a8a299;
            background-color: #92a1b7; color: #fff; font-size: 12px;background-image: url(Images/title.jpg);">
            {TEXT}</div>
        <!--category_item_end-->         
        <!--item_start-->
            <div class="nav_btn" onclick="ServerArgEvent('{ParentName}', 'on_navigator_click', {INDEX});"><img src="{IMGSRC}" style="border: 0px; vertical-align: bottom;"> {TEXT}</div>
        <!--item_end-->         
    </div>
</div>