<div class="{Class}" name="{Name}" id="{Name}" style="width:100%; height:100%;position:absolute;{Style}" {Disabled} {Events}>
    <div class="OuterBorder">
        <div class="InnerBorder" id="{Name}_component_holder">
            {_Components}{Child}
        </div>
    </div>
</div>