<div class="input-control radio default-style">
    <label>
        <input name="{GroupName}" id="{Name}" value="1" type="radio" {Disabled} {Checked} {Events} />
        <span class="check"></span>
        {Text}
    </label>
</div>