<style>
.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 40px; }
.sortable li span { position: absolute; margin-left: -1.3em; }
</style>

<ul id="{Name}" class="sortable">
    {Items}
    <!--item_start-->
    <li class="ui-state-default" data-object="{Object}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{Text}</li>
    <!--item_end-->
</ul>

<script>
    $(function () {
        $("#{Name}").sortable();
        $("#{Name}").disableSelection();
    });
</script>