<div class="OuterInnerBorder" id="{Name}" name="{Name}" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; border: 1px solid #9e948a;">
	<div class="InnerBorder" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: #e8e2d9; border: 1px solid #ffffff; padding: 3px; { Style}">
		<table class="table striped">
			<tr>
				<td class="OHeader" style="width: 10px;">&nbsp; </td>
				<td align="left" class="OHeader" style="">
				<nobr><span>View name</span>
				<a href="javascript:ServerArgEvent('{Name}', 'onsortup', 'NAME')">
				<img border="0" height="4" src="Images/components/OSPRepeater/sort_up.gif" width="7"></a>
				<a href="javascript:ServerArgEvent('{Name}', 'onsortdown', 'NAME')">
				<img alt="" border="0" height="4" src="Images/components/OSPRepeater/sort_down.gif" width="7"></a>
				</nobr></td>
							</tr>
			{Items}
			<!--item_start-->
			<tr>
				<td style="width: 10px; background-color: #F5F1EB; height: 30px; padding-left: 5px; padding-right: 5px;{ Font_Style}{Style}">
				<table style="width: 100%">
					<tr>
						
						<td>
						<div class="button" onclick="ServerArgEvent('{ParentName}', 'on_edit_click', '{INDEX}');" style="">
							<img src="Images/icons/pencil.png" title="Edit"></div>
						</td>
						<td>
						<div class="button" onclick="ServerArgEvent('{ParentName}', 'on_delete_click', '{INDEX}');" style="">
							<img src="Images/icons/cross.png" title="Delete"></div>
						</td>
						
					</tr>
				</table>
				</td>
				<td style="">
				{NAME}</td>
							</tr>
			<!--item_end-->
		</table>
		<!--Pages-->
		<table cellpadding="0" cellspacing="3">
			<tr>
				<td style="width: 50px; height: 20px;">Страницы: </td>
				<!--PageItemTemplate-->
				<td align="center" style=" background-color: #F5F1EB; { Font_Style}{Style}" valign="middle">
				<div class="button" style="padding: 4px;" onclick="ServerArgEvent('{Name}', 'onpagechange', '{PAGEN}');" >
					{PAGEN}</div>
				</td>
				<!--/PageItemTemplate-->
				<!--ActivePageItemTemplate-->
				<td align="center" style=" background-color: #FFFFFF; { Font_Style}{Style}" >
				<div class="dbutton" style="padding: 4px;">
					{PAGEN}</div></td>
				<!--/ActivePageItemTemplate-->
			</tr>
		</table>
		<!--/Pages--></div>
</div>
