<div name="{Name}" id="{Name}" class="" style="text-align: left; {Style}">
    <div class="tab-control">
        <ul class="tabs">
            <!--ActiveTab-->
            <li class="active"><a href="javascript:void(0);">{Text}</a></li>
            <!--/ActiveTab-->
            <!--Tab-->
            <li><a href="javascript:void(0);" onclick="ServerEventWithFormData('{Name}', 'tabclick', '{Name}', '{TabName}');">{Text}</a></li>
            <!--/Tab-->
        </ul>
        <div style="position: absolute; text-align: left; overflow: auto; bottom: 0; top: 30px; right: 0; left: 0; padding: 0">
            {_Components}{Child}
        </div>
    </div>
</div>