<script src="JS/knockout-2.2.1.js"></script>
<script src="JS/ViewModel/OTreeCheckBoxViewModel.js"></script>
<div class="OuterBorder">
	<div class="InnerBorder" style="background-color: #f8f2e9;">
		<div id="{Name}" name="{Name}" class="OTree OTreeCheckBox" data-bind="with: tree">
			<ul data-bind="template: {name:'nodeTemplate', foreach: nodes}"></ul> 
		</div>
    </div>
</div>

<script id="nodeTemplate" type="text/html">
	<li> 
		<span>
			<span class="expander-icon" data-bind="click: $root.expanderOnClick,css:{'expanded':expanded()&&nodes().length>0,'collapsed':!expanded()&&nodes().length>0}"></span>
			<input class="tree-control-checkbox" type="checkbox" data-bind="checked: checked"/>
			<!-- ko if: icon&&icon.length>0 --><span><img data-bind="attr:{src:icon}"/></span><!-- /ko -->
			<span class="node-text" data-bind="text:text"></span>
		</span>
		<!-- ko if: expanded()&&nodes().length>0 -->
		<ul style="margin-left: 8px;" data-bind="template: {name:'nodeTemplate', foreach: nodes}"></ul> 
		<!-- /ko -->
	</li>  
</script>
<script type="text/javascript">
	$(function(){
		ServerArgEvent('{Name}', 'get_tree_data', null, false, function(_data){
			var OTCBViewModel = new OTreeCheckBoxViewModel('{Name}',$.parseJSON(_data));
			OTCBViewModel.bindModel();
		});
		
    });  
</script>