    <div class="OuterBorder">
        <div class="InnerBorder">
        <input name="{Name}" id="{Name}" type="hidden" value="{Value}" />
<div class="OTree" {Disabled} {Events}>{Nodes}
    <!--item_start--><div><img style="visibility: {Toggle_visibility};" onclick="{Name}_OpChildCont('{Index}');" id="{Name}_img_{Index}" src="{ExpColIcon}" alt=""/><p id="{Name}_p_{Index}"><img style="display: {NodeIcon_display};" alt="" src="{NodeIcon}"/> {Text}</p></div>{child_containter}<!--item_end-->
    <!--child_container_start--><div id="{Name}_cc_{Index}" class="child" style="display: {ChildDisplay};">{nodes}</div><!--child_container_end-->
</div>

    </div>
</div>

<script type="text/javascript">
function {Name}_SetActive(_id)
{
    var StartIndex = "{Name}_p_".length;
    _index = _id.substring(StartIndex);
    
    $('#{Name}').attr("value", _index);
    pName = "#{Name}_p_" + _index;
    $("p[id ^= '{Name}_p_']").css("font-weight", "normal");
    $(pName).css("font-weight", "bold");
}
function {Name}_OpChildCont(_index)
{
    ccName = "#{Name}_cc_" + _index;
    imgName = "#{Name}_img_" + _index;
    if ($(ccName).is(":hidden")) 
    {
        $(ccName).slideDown();
        $(imgName).attr("src","Images/icons/toggle_small_collapse.png");
        
    } 
    else 
    {
        $(ccName).slideUp();
        $(imgName).attr("src","Images/icons/toggle_small.png");
    }
}

$(document).ready(function () {
$("p[id^={Name}_p_]").click(function () {{Name}_SetActive( $(this).attr("id") );});
$("p[id^='{Name}_p_']").click(function () {{OnNodeClick}});
{Name}_SetActive('{Name}_p_{Value}');}
);
</script>